.tile {
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    border: 1px solid black;
}

#wrapper {
    width: 700px;
    overflow: hidden; /* will contain if #first is longer than #second */
}

#unit-table {
    width: 160px;
    float:left;
}

.units {
  width: 160px;
}

#board {
    overflow: hidden;
}
